/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: darkgreen;
  --matr-navbar-bg-rgb: 1, 50, 32;
  --matr-navbar-text-color: white;
  --matr-navbar-highlight-text: #959595;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-dark: var(--matr-navbar-bg);
  --bs-dark-rgb: var(--matr-navbar-bg-rgb);
  background: fixed center url("https://w0.peakpx.com/wallpaper/851/985/HD-wallpaper-hawaii-rainbow-warriors-american-football-team-green-background-hawaii-rainbow-warriors-logo-grunge-art-ncaa-american-football-usa-hawaii-rainbow-warriors-emblem.jpg");
  background-size: cover;
}
#middle{
  color: white;
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

footer, footer a {
  color: var(--matr-navbar-text-color);
}

body .navbar {
  --bs-navbar-active-color: var(--matr-navbar-text-color);
  --bs-navbar-brand-color: var(--matr-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--matr-navbar-text-color);
  --bs-navbar-color: var(--matr-navbar-text-color);
  --bs-navbar-hover-color: var(--matr-navbar-text-color);
}

.bg-dark a.dropdown-item {
  color: var(--matr-navbar-bg);
}

.navbar a.nav-link.active {
  color: var(--matr-navbar-highlight-text);
}

.custom-submit-field input {
  width: 100% !important;
}

.no-underline {
  text-decoration: none !important;
}

.pfp {
    height: auto;
    width: 200px;
}

.pfpText {
    color: white;
}

.equipment-card {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.equipment-header {
  padding: 20px;
  background-color: #f8f9fa;
}

.equipment-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.equipment-details {
  padding-left: 20px;
}

.equipment-name {
  font-size: 1.25rem;
  margin-bottom: 5px;
}

.equipment-tag {
  font-size: 1rem;
  color: #6c757d;
}

.equipment-location,
.equipment-description {
  margin-top: 10px;
}

